*,
::after,::before{
    margin:0px;
    padding:0px;
}

html{
    width: 100vw;
    min-height: 100vh;
    font-size: 14px;
}
#cabecera{
    width: 100%;
    background-color: black;
    text-align: center;

    
}

#cabecera img{

    margin-top: 2rem;

}


h1{
    
    text-align: center;
    margin: 2rem;
    font-size: 2rem;

}

#viajes{
    display:flex;
    flex-direction: column;
    justify-content: center;


}

.viajes-item{
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.viajes-item h2{
    order: 2;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.viajes-item p{
    order: 3;
    font-size: 1rem;
    margin-bottom: 1rem;
    min-height: 12rem;
}
.viajes-item img{
    order: 1;
    max-width: 80%;
    /* margin-bottom: 1rem; */
    margin: 0 auto 1rem auto;

}
.viajes-item button{
    order: 4;
    width: 200px;
    margin: 0 auto;
}


   .uno{
    
    background-color:#c1d4e7;

    
       
    }
    .dos{
        background-color: #bdeebb;

        


    }

    .tres{

        background-color: #79a9a8;
        

        
    }


@media screen and (min-width:768px){

    #viajes{
        flex-direction: row;
        flex-wrap: wrap;


    }
    .uno{

        flex-basis: 50%;
        order: 2;

    }

    .dos{

        flex-basis: 50%;
        order: 1;

        

    }

    .tres{

        flex-basis: 100%;
        order: 3;

    }
    
}
    @media screen and (min-width:1024px){

        #viajes{
            
            flex-wrap: nowrap;
            flex-direction: row-reverse;
    
    
        }
        .uno{
    
            flex-basis: 33%;
            order: 3;
        
    
        }
    
        .dos{
    
            flex-basis: 33%;

            order: 2;
    
            
    
        }
    
        .tres{
    
            flex-basis: 33%;

            order: 1;
    
        }
}
    


